

body {
    background: rgb(36, 53, 63);
}
h1 {
    color: rgb(23, 162, 184);
}

.box {
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}

.form-group #Nwarning , #Fempty,
#exist-name,
#Pwarning {
    display: none;
}

.form-group #Urlwarning ,
#exist-url ,#match , 
#Ewarning{
    display: none;
}


